.jumbotron {
  padding-top: 5rem;
  background-color: #99daff;
}

#projects {
  background-color: #99daff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

/* My Chair Section */
.chair-box {
  background-color: #0c6efd;
  border-radius: 10px;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.chair-box::before {
  content: "MY";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.chair-box:hover::before {
  opacity: 0.2;
}

.chair-box::after {
  content: "Chair";
  position: absolute;
  color: #fff;
  font-size: 6em;
  font-weight: bold;
  font-style: italic;
  top: 300px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.chair-box:hover::after {
  opacity: 0.2;
}

.chair-name {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transition: 0.5s;
}

.chair-box:hover .chair-name {
  top: 20px;
  opacity: 1;
  transform: translateZ(20px);
}

.chair-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
}

.chair-box:hover .chair-detail-button {
  opacity: 1;
  bottom: 20px;
  transform: translateZ(40px) translateX(-50%);
}

.chair-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.chair-box:hover .chair-img {
  transform: translate(-50%, -50%) scale(1.5) rotate(-5deg) translateZ(30px);
}
